/*
 * HTML5 Boilerplate
 * + reset.css
 * + custom classes
 * =============================================================================
   Authors: joe@flatlinegraphics.com
 * =============================================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}
html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }body { margin: 0; }body, button, input, select, textarea { font-family: sans-serif; color: #222; }a:hover, a:active { outline: 0; }b, strong { font-weight: bold; }hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
small { font-size: 85%; }sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }sup { top: -0.5em; }sub { bottom: -0.25em; }img { border: 0; -ms-interpolation-mode: bicubic; }svg:not(:root) {overflow: hidden;}label { cursor: pointer; }button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }button, input { line-height: normal; *overflow: visible; }button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }textarea { overflow: auto; vertical-align: top; }input:valid, textarea:valid {  }input:invalid, textarea:invalid { background-color: #f0dddd; }table { border-collapse: collapse; border-spacing: 0; }
html, body{background:#fff url(../images/container_bg.png) repeat-x top left;min-height:101%;}
.btn{cursor:pointer;display:block;overflow:hidden;text-indent:-1000px;float:left;outline:none;border:0;font-size: 0px;line-height: 0px;background-repeat:no-repeat;background-position:top left;}
.btn:hover, .btn.active{background-position:bottom left;}
a{color:#0079c2;text-decoration:none;outline:none}
.title{background-size:contain;display:block;overflow:hidden;text-indent:-2000px;font-size: 0px;line-height: 0px;background-position:top left;background-repeat:no-repeat;}
strong{font-weight:bold;}
sup{vertical-align:middle}
p{margin:0 0 20px 0;}
address{font-style:normal}
* em{font-style:italic !important}
.clear{clear:both;}
.col{float:left}
.right{float:right}
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.centertext{text-align:center}
input{outline:none}
.showonmobile, .hidefromlegacy, .hideondesktop, .showontablet{display:none}
.legacy .hidefromlegacy{display:block !important}
i.icon{display:inline-block;font:normal 100%/100% "FontAwesome";}
iframe{border:0}

html.old{
background: #ffb400; /* Old browsers */
background: -moz-linear-gradient(top,  #ffb400 0%, #b36807 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb400), color-stop(100%,#b36807)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffb400 0%,#b36807 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffb400 0%,#b36807 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffb400 0%,#b36807 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffb400 0%,#b36807 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb400', endColorstr='#b36807',GradientType=0 ); /* IE6-9 */
position:relative;min-height:100%
}

html, body{overflow:hidden;width:100vw;height: 100vh;font:300 16px/18px "futura-pt";background:url(/images/tweed.png)}


/*-- container -----------------------------------------*/
.main{position:absolute;top:-100vh;left:50%;transform:translate(-50%, -50%);width:80vw;z-index:999;height: 72vh;background: linear-gradient(to bottom,  #ffb400 0%,#b36807 100%);box-shadow: 0 0 10px rgba(0,0,0,.6);border:1px solid #000;
 animation:bouncer 2.2s ease-in forwards;}
.main.active{}
.main .container{position: absolute;top:50%;transform: translate(0, -50%);width:100%}
.main h1{font-weight: 300;font-size:400%;line-height:100%;text-align:center;;color:#fff;text-shadow: 0px 0px 4px #000;margin:0 0 10px}
.main h4{text-align:center;text-indent:-15%}




footer{position:absolute;width:100%;bottom:0;left:0;z-index:2000;text-align:center;}
footer ul {width:auto;display:inline-block;position:relative;bottom:8px;opacity:0;
  -webkit-animation: footerAnimation 1s ease-in forwards; 
  animation:      footerAnimation 1s ease-in forwards;
  animation-delay: 1.5s;
}

footer ul li{display:block;float:left;border-right:1px solid #ccc;}
footer ul li a{color:#ccc;padding:1px 15px;display:block;transition:.5s all}
footer ul li a i.icon{margin:0 5px 0 0;}
footer ul li:last-child {border:0;}
footer ul li a:hover{color:#fff;margin-top:-4px;padding-bottom:5px;font-size: 110%}
footer ul li a:hover i{color:#FE9902}

/*-- animations ------------------------------------------*/
@keyframes footerAnimation {
    from {opacity:0;}
    to {opacity: 1;}
}
@keyframes bouncer{
  0%{top:-100vh;}
  90%{top:56%;}
  92{top:54%;}
  96%{top:52%;}
  100%{top:50%;}
}




/*-- special sections ------------------------------------------*/
 

 


/* ==|== media queries ====================================================== */
/*-- 4k ------------------------------------------------------------------*/
@media only screen and (min-width: 1921px){
	html, body{font-size:20px;line-height: 100%}
}

/*-- desktop ------------------------------------------------------------------*/
@media only screen and (min-width: 1025px) and (max-width:1920px){
	
 }
/*--common non-desktop styles ------------------------------------------------------------------*/
@media only screen and (min-width: 1px) and (max-width:1024px){
	.hideondesktop{display:block !important;}
	.hideontablet, hideonphone{display:none !important;}
 	
}

/*--tablet ------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1024px){
	.showontablet{display:block !important}	
 
}
/*-- small screen ------*/
@media only screen and (min-width: 321px) and (max-width: 767px),  screen and (max-device-width: 1200px) and (orientation:landscape){
 
}

/*--mobile/iphone ------------------------------------------------------------------*/
@media only screen and (min-width: 1px) and (max-width: 320px){
 	

}

/*iphone mega hacks*/
/* Portrait */
@media screen and (max-width: 320px){
 
}
/* Landscape */
@media screen and (min-width: 321px) and (max-width: 480px) and (orientation:landscape){
 
}
